body
    height auto

.shrink
    width 80%

#main
    margin-top 1rem
    margin-left 8rem

.title
    padding-top 0
    margin-top -0.5rem
    font-family "Dancing Script", serif
    font-size 1.5rem

.code
    font-family "Fira Code", serif
    color #000000

#example-default
#example-options
    margin-top 1rem

.space
    margin-right 0.5rem

.radio
    font-size 0.7rem

.fixed-bottom
    width 20%